name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run lint
        run: yarn lint --if-present

      - name: Run tests
        run: yarn test --if-present

      - name: Build
        run: yarn build --if-present
